DISCORD_TOKEN=yourbottokenshouldbeinhereyoucangetitfromdiscorddeveloperportal
XAI_API_KEY=yourxaiapikeyinhereoranyapikeythatyouusefromadifferentmodelidk
GLOT_API_TOKEN=theglottokenshouldbeherehopeyouhaveaglotaccountinodertoobtainit
GLOT_BASE_URL=https://run.glot.io
GLOT_API_MODE=auto
API_NINJAS_KEY=yourninjaapikeyshouldbeherechecktheninjaapiwebsiteforit
API_FOOTBALL_KEY=iseeyoulikefootballsoyourfootballapishouldbeinhere
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
XAI_MODEL=grok-4-1-fast-reasoning
DB_PATH=data/bot.db
DEFAULT_PREFIX=!oranyprefixyouwant
LIGAMX_LEAGUE_ID=262oranyotherleagueidyouwanttocheckitsreallyuptoyou
